.whole{ padding: 2rem 10rem;
/* width: 100%; */
}
.home{
    /* background-color: aqua; */
    /* height: 500px; */
    /* padding: 2rem 5rem; */
    margin: 6vw 0vw 4vw;
    background-color: rgb(233, 244, 255);
    border-radius: 4px;
    display: flex;

}

.content{
    /* background-color: aqua; */
    /* background-color: rgb(233, 244, 255); */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 4vw;   
}
.content h1{
    font-size: 40px;
    font-weight: 900;
    line-height: 52px;
    margin-bottom: 12px;
}

.content h1 span{
    color: rgb(38, 78, 255);
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
}

.content p{
    font-size: 20px;
    margin-bottom: 16px;
}
.pic{
    margin-top: -4vw;
}

.pic img{
    /* background-color: rgb(233, 244, 255); */
    width: 27vw;
    height: 100%;
    margin-right: 34px;
}

.brands{
    text-align:center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products{
    background: linear-gradient(168deg, rgb(233, 244, 255) 0%, rgb(255, 255, 255) 100%);
    padding-top: 2vw;
    padding-bottom: 8vw;
    position: relative;
   
}

.s1{
    position: absolute;
    top: 2%;
    left: 0px;
     z-index: 0;
}

.s2{
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 0;
}

.cards{
    display: grid;
    gap: 2vw;
    margin-top: 4vw;
    position: inherit;
    z-index: 10;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    width: auto;
    padding: 0.5rem 12rem;
    -webkit-box-align: center;
}


.card1{
    padding: 2rem;
    z-index: 20;
    position: relative;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #edffec;
}


.card2{
    padding: 2rem;
    z-index: 20;
    position: relative;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #fff1ca;
}

.card3{
    padding: 2rem;
    z-index: 20;
    position: relative;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ffeee7;
}

.card4{
    padding: 2rem;
    z-index: 20;
    position: relative;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #fff5e7;
}


.i1{
    display: contents;
}
.i1 >img{
    width: 30%;
    height: auto;
    filter: grayscale(100%);
}



.matter{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    padding-left: 1.5rem;
}

.matter>.m1{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.1rem;
    font-weight: 600;
}

.matter>.m2{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: rgb(54, 55, 75);
}

.slider{
    margin: 5vh 0;
    display: flex;
    overflow:hidden;
    width:80%;
   
    /* align-items: center;
    
    justify-content: space-around; */
    
}

.eachprod{
    width: 150px;
    margin: 0 5px;
    padding: 12px 0px;
    border: 1px solid rgb(231, 231, 240);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 8px;
}

.eachprod img{
    width: 100px;
    height: unset;
}

.choice1{
    display: flex;
    flex-direction: row;
    padding: 4rem 8rem;
}

 .why{
    width:277px;
    height: 100%;
    
}

.why img{
    width: 100%;
    height: 100%;
}

.txtc{
    color: rgb(20, 92, 197);
}

.m2{
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
}

/* .choice2{
    display: flex;
    flex-direction: column;
} */

.choice2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    padding: 2vw 0vw 0vw 3vw;
    width: 100%;
}

.whyusbtn img{
    width: 6vw;
}

.whyusbtn> .t1{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.1rem;
    font-weight: 600;
}

.whyusbtn> .t2{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: rgb(54, 55, 75)
}

.whyusbtn{
    padding: 25px;
}

@media only screen and (max-width: 800px) {
    .whole{
        padding: 2rem 1rem;
        width: 100%;
        text-align: center;
    }

    .cards{
        display: flex;
        flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
        padding: 1rem 0rem;
    }

    .pic img{
        visibility: hidden;
        width: 0px;
        height: 0px;
    }

    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 4vw;
    }

    .why{
        display: none;
    }

   
    .whyusbtn img{
        width: 18vw;
    }

    .choice1{
        display: flex;
        flex-direction: row;
        padding: 0;
    }
    .whyusbtn{
        padding: 0px;
    }
    
}

